[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --workers 4 --port 3000 --reload"
start = "gunicorn --bind 0.0.0.0:$PORT -w 4 -k uvicorn.workers.UvicornWorker main:app"